
#index_main    {
  margin-top: 50px;
  height:100vh;
  width: 100%;

  /*background-image: url('/images/keyboard.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, .4);
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: inset 0px 0px 300px 200px #000;
  background-repeat: no-repeat;*/
}

#cover  {
  height: 100vh;
  width: 100% !important;
  width:inherit;
  background-color: rgba(0, 0, 0, .45)
}

#header {
  background-color: black;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;

}

.links  {
  display: inline-block;
  padding-bottom: 0px;
  margin: 5px 30px 5px 30px;

}

#header {
  /*margin-top: 40px;*/
  background-color: white;
}

#header>h1 {
  color: black;
}

#logo {

  padding-top: 10px;
  text-align: center;
  background-color: black;
  max-height: 340px;
}


#nm, #ttl  {
  /*position: relative;*/
  color: black;
  margin: 0px;
  padding: 0px;
  /*font-size: 64px;*/
  font-family: 'Raleway', sans-serif;
  /*margin-top: 5px;
  margin-bottom: 5px;*/

}

#title  {
margin-right: 70px;
display: none;
}

#ttl {
  /*position: relative;*/
  color: black;
  font-family: 'Raleway', sans-serif;
}

#name {
  text-align: center;

}

#name-div{
  margin-left: 70px;
  margin-right: 0px;
}

.tops {
  margin: 0px;
  padding: 15px 0px 15px 0px;
  background-color: white;
}


#logoimg  {

  background-color: black;
}
#logoob {
  width: 100%;
  margin: 0px;
  padding: 0px;
  max-width: 150px;
  /*max-width: 400px;*/
  margin-left: 0px;

}

.row-xs-flex-center {
    display:flex;
    align-items:center;
}
@media ( min-width:794px ) {
    .row-sm-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 992px ) {
    .row-md-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 1200px ) {
    .row-lg-flex-center {
        display:flex;
        align-items:center;
    }
}

@media ( min-width: 794px) {
   #logoob {
     max-width: 250px
   }

}

@media ( min-width: 800px) {
  #title  {
    display: block;
  }

}

@media ( max-width: 900px) {
  #name-div {
    margin-right: 70px;
  }
}






/*#name {
  margin-right: 15px;
  width:35%;
  padding: 0px 30px 0px 0px;


}*/



/*#title {
  margin-left: 15px;
  width: 30%;
  padding: 10px 200px 10px 30px;

}*/


/*#name, #title  {
  display: inline-block;
  background-color: white;
}*/






.menu {

    background:white;
    color:black;
    height:45px;
    z-index: +1;

    width:100%;
}
.content {
    margin-top:20px;


}
.menu-padding {
    padding-top:70px;
    padding-bottom:70px;
    margin-top: 70px !important;
}

#marg {
  height: 45px;
  width: 100%;
  display: none;
}

.space  {
  height: 140px;
  width: 100%;
  display: block;
}

.content p {
    /*margin-bottom:20px;*/
}
.sticky {
    position:fixed;
    top:0;
    margin-bottom: 20px;
}
.nav {
  text-align: center;
  height: 45px;
  padding-top: 0px;
}

.nav>li {
  display: inline-block;
}
ul>li {
  display: inline-block;
}

.links  {
  display: inline-block;
  font-size: 22px;
  margin-top: 0px;
  padding: 6px;
  padding-top: 10px;
}

.nav>li>a:hover {
  background-color: rgba(0, 0, 0, .01);
  cursor: pointer;

}

#portfolio-scroll, #contact-scroll  {
  transition: .4s;
  height: 45px;
  margin-top: 0px;
}

#portfolio-scroll:hover {
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, .4);
}

#contact-scroll:hover {
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, .6);

}
#smlogoimg{
  margin-top: 0px;
  margin-bottom: 10px;
}
#smlogoimg  {
  height: 44px;
  margin-bottom: 3px;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

#smlogoob {
  height: 44px;
  margin-top: 0px;
  padding: 0px;
}

#smlogoimg:hover  {
  cursor: pointer;
}

#logo-wrap  {
  text-align: center;

}
#contacts {
  text-align: center;

}

#footer {
  text-align: center;
}














#about-me {
  width: 75%;
  margin: auto;
  margin-top: 100px;
}


#about{
  color: white;
  font-size: 18px;
  background-color:rgba(0, 0, 0, .6);
  padding: 30px;
  border-radius: 5px;
}

h3  {
  color: white;
}


#back {
    background-image: url('images/keyboard.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, .4);

    box-shadow: inset 0px 0px 300px 200px #000;
    background-repeat: no-repeat;
}

#bite {
  height: 300px;
  width: 300px;
  display: inline-block;
  background-color: blue;
}






body {
background-color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}




#port_head>h2 {
  color: white;
  font-family: 'Raleway', sans-serif;

}

.port_img {
  width: 80%;
  height: 188px;
}

#port_row {
  text-align: center;
    width: 100% !important;

}

#port_row_cont {
  width: 100% !important;
  text-align: center;
  padding: 0px;
  background-color: rgba(0, 0, 0, .4)


}



#portfolio_items  {
  background-color: transparent;
  padding:0px;
  margin-bottom:25px;

  float:none;
  margin:13px;
  height: 300px;
  width: 325px;
  border: 2px solid rgb(196, 196, 196);
  display: inline-block;

}

.portfolio-single {
  display: inline-block;
}

.preview, .tech, .git {
  display:inline-block;
}

#port-header  {
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  /*box-shadow: inset 0 0 30px rgb(0, 0, 0);*/
  margin-bottom: 40px;
  height: 40px;
}

#port-head  {
  display: inline-block;
  color: black;
  background: none;
  font-size: 24px;
  margin-top:10px;
}

.white  {
  background-color: black;
  height: 4px;
  width: 33%;
  display: inline-block;
}

#port_foot{
  border-top:4px solid black;
  background-color: white;
  width: 100%;
  padding:0px;
  margin:0px;
  margin-top: 6px;
  height: 40px;
}

#port_footer  {
  margin:0px;
  width:100%;
  height:30px;
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

#foots{
  padding:0px;
  height: 30px;
  font-size: 16px;
}

.test   {}

span{
  font-size: 14px;
}



/*   Buttons   */


.buttons {
  border:none;
  height:30px;
  background-color:rgba(245, 245, 245, 0);
  color: #363636;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  padding-top:0px;
  width: 100%;

  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-right: 5px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-family: 'Raleway', sans-serif;


}

.tech-pop {
  font-family: 'Raleway', sans-serif;
}

.buttons span {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}


#footers  {
  padding:0px;
}




#demo {
  width: 20%;

  color: white;
}

a {
  text-decoration: none;
  color:inherit;
}

a:visited {
  color: inherit;
}

a:active  {
  border:none;
}

.popover-title {
  color: black;
  text-align: center;

}


.popover{
  color: white;
  background-color: rgba(10, 10, 10, .7);
  width:400px;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, .7);
}

#span{
  font-size: 8px;
}










            /*    Tech Logos          */


#tech-logos {
  width: 100%;
  text-align: center;
  height: 50px;

}

#logo-wrap  {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

#logo-wrap>h2 {
  color: white;
}

.logo-tech  {
  width: 50px;
  height: 50px;
  padding: 20px;
}

#js, #html5, #angular, #css, #postgres, #node {
  display: inline-block;
  margin-top: 30px;
  margin: 10px;
}

#js {
  background-image: url('images/javascript.png');
  background-size: cover;
}

#html5 {
  background-image: url('images/html5.png');
  background-size: cover;
}

#angular {
  background-image: url('images/angular.png');
  background-size: cover;
}
#css {
  background-image: url('images/css.png');
  background-size: cover;
}
#postgres {
  background-image: url('images/postgres.png');
  background-size: cover;
}
#node {
  background-image: url('images/node.png');
  background-size: cover;
}


#footer  {


  background-color: white;
  height: 40px;

}

#disc {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.contact {
  font-size: 30px;
  padding: 10px;
}



#contacts {
  color: white;
  padding: 5px 10px 2px 5px;
  width: 300px;
  margin: auto;
  font-size: 40px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid white;
  margin-top: 70px;
}


.test {
  display: inline-block;
}


#hm {
  width: 100% !important;
}

#red  {
  height:300px;
  width:;
  background-color: red;
  margin: 10px;
}







#barm {
  height: 50px;
  width: 100px;
  background-color: blue;
}



#port-contain {
  width: 100%;
}

.portfolio-row  {
  width: 100%;
  margin: auto;
}


.port-item  {

  padding: 0px;
  border: 2px solid white;
  display: inline-block;
  margin: 50px 20px 0px 20px;
  max-width: 500px;
  text-align: center;

}


.linker {
  background-color: white;
  width: 100%;
}


.port-links {
  display: inline-block;
  background-color: white;
}

.portfolio-pics {
 border: 1px solid white;
 background-b
}

.cosummit-pic {
  background-image: url('images/cosummit.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  min-width: 200px;
  height: 200px;
  margin:auto;
  background-color: grey;

}

.farmshare-pic {
  background-image: url('images/farmshare.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  min-width: 200px;
  height: 200px;
  margin:auto;
  background-color: grey;

}

.ivolunteer-pic {
  background-image: url('images/ivolunteer.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  min-width: 200px;
  height: 200px;
  margin:auto;
  background-color: grey;

}

.madlyrics-pic {
  background-image: url('images/mad-lyrics.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  min-width: 200px;
  height: 200px;
  margin:auto;
  background-color: grey;

}

.galv-personnel-pic {
  background-image: url('images/upside-events.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  min-width: 200px;
  height: 200px;
  margin:auto;
  background-color: grey;

}

.liz-pic {
  background-image: url('images/photo-art.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  min-width: 200px;
  height: 200px;
  margin:auto;
  background-color: grey;

}

.heads  {
  color:white;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

.galv {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hat  {
  margin-bottom: 50px;
}
